/* XL Device :1200px. */

@media only screen and (min-width: 1601px){
   
    header {
        height: 980px;
        background-image: url(../img/bg/bg_large.jpg);
        background-size: 100% 100%;
    }
    .banner-img-main {
        display: none;
    }
}

@media only screen and (min-width: 1440px){
    header {
        min-height: 794px;
    }
    .header_bg_part {
      
        bottom: -1px;
    
    }
    

    .banner-img {
      
        margin-right: 0px;
        margin-left: 0px;
    }
    .banner-img-main {
        margin-top: 86px;
    }
    footer {

        background-size: 100% 100%;
      
    }
}

/* LG Device :992px. */
@media only screen and (max-width: 1199px) {
    .banner-content h1 {
        font-size: 54px;

    }
    .header_bg_part {
      
        bottom: -3px;
       
    }
    
    section.feature {
        padding: 34px 0px 162px 0px;

    }
    .custom-row {
        margin-top: -30px;
        margin: 0px auto;
        /* padding: 10px; */
        padding-right: 30px;
    }
    .slick-prev {
        left: 4px;
        z-index: 1;
    }
    .slick-next {
        right: 12px;
    }


}

@media only screen and (max-width: 1000px) {
    .slick-active.middle .client-content {
        box-shadow: 0px 10px 10px #e6e6e6;
        padding: 30px 36px;
        margin-top: 0px;
    }
    .slick-prev {
        left: 4px;
        z-index: 1;
    }
    .slick-next {
        right: 12px;
    }
}

 
/* MD Device :768px. */
@media only screen and (max-width: 991.98px) {

    .banner-content h1 {
        font-size: 40px;
    }
 
    .nav-menu {
        width: 100%;
        align-items: start;
    }
   
    div#navbarSupportedContent {
        background: #6348b8;
        padding: 20px;
        margin-top: 10px;
        position: absolute;
        width: 100%;
        top: 62px;
        left: 0px;
        z-index: 999999;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url(../img/icon/menu.svg);
    }
    .navbar-light .navbar-toggler {
        border: none;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
 
   
    header {

        height: 650px;
       
    }
    .banner-img-main {

        margin-top: 140px;
  
    }
    .banner-img .love_red {
        right: 180px;
    }
    .banner-img .arrow {
        display: none;
    }
    .banner-img .love_small {
       display: none;
    }
    .banner-img .love_green {
      
        display: none;
    }

    div#myTabContent {
        padding-right: 20px;
    }
    
    .message-content h2 {
        font-size: 36px;
    }
    .price-heading p {
        font-size: 14px;
    }
    .price-heading h2 {
        font-size: 36px;
    }
    .subscribe-content h2 {
        font-size: 36px;
    }
    footer {
        background-image: url(../img/bg/footer.png);
        height: 1000%;
        padding: 100px 0px;
        margin-top: 0px;
    }
    
    .footer-part h3 {
        margin-top: 30px;
    }
}



/* Extra small Device. */
@media only screen and (max-width: 767.98px) {
    header {
        height: 920px;
    }
    .header_bg_part {
        bottom: -40px;
    }
    .banner-img .love_green {
        display: none;
    }
    .banner-img .arrow {
        display: none;
    }
    .banner-img .love_red {
        top: 60px;
        right: 210px;
    }
   
    .banner-content {
        text-align: center;
    }
    .banner-content p {
        text-align: center;
    }
    .section-title p {
    
        margin-bottom: -80px;
    }
    .section-title h2 {
        font-size: 36px;
    }
    .feature-item {
        padding-left: 10px;
    }
    .feature-img {
        /* display: none; */
    }
    .feature-img {
    
        margin-top: 50px;
        margin-bottom: 50px;
    }



    section.message {
        padding: 60px 0px 30px 0px;
    }
    .price-amount-star {
        text-align: left;
        position: relative;
    }
    .price-amount {
        position: absolute;
        top: 34px;
        right: 0px;
        text-align: left;
        left: 31px !important;
    }
    .price-list {
        margin-top: 30px;
    }
    .price-list {
        padding: 0px 60px 50px 60px;
    }
    .price-tab {
        margin-top: 100px;
    }
    .client-heading h2 {
        font-size: 36px;
        margin-bottom: -30px;
    }
    .slick-next {
        right: 15px;
        /* box-shadow: 0px 0px 5px grey; */
    }
    .slick-prev {
        left: 5px;
        z-index: 1;
    }
    .subscribe-content {
        padding-left: 20px;
    }
    .subscribe-img {
        margin-top: 30px;
    }
    .subscribe-content h2 {
        font-size: 36px;
    }
    footer {
        margin-top: 0px;
    }
}

/* SM Small Device :550px. */
@media only screen and (max-width: 575.98px) {
    header {
        height: 744px;
        background-image: url(../img/bg/bg_small.png);
    }
    .banner {
        margin-top: 20px;
    }
    .banner-content h1 {
        font-size: 38px;
        line-height: 48px;
    }
    .feature-item {
        margin-top: 10px;
    }
    section.feature {
        padding: 56px 0px 0px 0px;
    }
  
   

    .header_bg_part {
        bottom: -25px;
    }
    .banner-img-main {
        margin-top: 60px;
        display: none;
    }
    .banner-img .love_red {
    
        display: none;
    }
    img.shape_one {
        display: none;
    }
    img.shape_two {
        display: block;
    }
    .feature-container {
        padding: 0px 24px;
        text-align: center;
    }
    .feature-img-colum {
        display: block;
    }
    .feature-img-colum-full{
        display: none;
    }
    .message-content h2 {
        font-size: 36px;
    }
    .message-container {
        padding-left: 24px;
        padding-right: 24px;
        text-align: center;
    }


    .message-row{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    }
    .message-img {
        margin-top: 30px;
    }

    .message-content h2 {
        font-size: 28px;
    }

       

    section.price {
        padding: 92px 0px 100px 0px;
    }

    .price-container {
        padding-left: 24px;
        padding-right: 24px;
    }
    .price-top-img {
        display: flex;
        flex-direction: column-reverse;
    }
    .price-list {
        padding: 20px 24px 60px 24px;
    }
    .price-amount-star {
        text-align: center;
        
    }
    .price-amount {
 
        text-align: center;
        left: 0px !important;
        width: 75px;
        margin: 0px auto;
    }
    .section-title h2 {
        font-size: 28px;
    }
 
  
    .client-heading h2 {
        font-size: 28px;
    
    }
    .slick-list {
        margin-right: -20px;
    }

    .slick-slide {
        margin-left: 0px;
        padding-right: 12px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .client-content {
        width: 100%;
    }
    .slick-dots li button:before {
        font-size: 40px;
      
    }
    .slick-dots {

        bottom: 30px;
    }
    .subscribe-form {
        width: 100%;
    }
    .subscribe-content {
        padding-left: 0px;
        padding-right: 0px;
    }
    .subscribe-form form input {
        width: 200px;
    }
    .subscribe-content h2 {
        font-size: 28px;
    }
    .feature-container {
        padding: 0px 20px;
    }
    .message-content {
        padding-left: 0px;
    }
    .subscribe-container {
        padding-left: 24px;
        text-align: center;
        padding-right: 24px;
    }

    .subscribe-bottom-container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    footer {
        background-image: url(../img/bg/footer_small.png);
    padding: 2px 20px 36px 20px;
    background-size: 100% 100%;
    text-align: center;
    }
    .footer-container {
        margin-top: 70px;
    }
    .footer-part {
        margin-top: 60px;
    }


    .client-container {
        padding-left: 24px;
        padding-right: 24px;
    }
    .message-content {
        padding-left: 20px;
    }
}

/* Mobile Device :480px. */
@media only screen and (max-width: 480px) {
/*  
    .section-title p {
  
        text-align: justify;
    }
    .section-title h2 {
        font-size: 30px;
    }
    .client-heading h2 {
        font-size: 32px;
    }
    .message-content h2 {
        font-size: 30px;
    }
    .price-list {
        padding: 0px 10px 50px 30px;
    }
    .price-item-check li span {
    
        font-size: 14px;
 
    }
    .client-heading h2 {
        font-size: 30px;
    } */
   
}